.navbar{ border-radius: 0; }
.navbar .logo-text{ display: inline-block; margin:0; padding: 20px 0; min-height:50px; }
.navbar .navbar-brand{ padding: 0; height: 55px; }
.navbar .navbar-brand:hover{ color: #55BFD1; }
.navbar-nav{ list-style: none; float: right; min-height: 50px; padding: 20px; margin-right: 15px; }
.navbar-nav .nav-item{ margin-left: 40px; }


@media only screen and (max-width: 736px) {
  .navbar-nav{ padding: 12px 12px 0 0; margin: 0; float: right !important; }
}

@media only screen and (max-width: 414px) {
  .navbar-brand{ padding: 15px 5px; }
  .navbar-collapse{ float: left; }
  .navbar-collapse .nav-item{ margin-left: 10px; }
}