.image-display{ width: 100%; height: 400px; min-height: 100px; border: 1px dashed #A2B5B8; border-radius: 5px; overflow-y: auto; background-color: #222222; box-shadow: inset 4px 4px 10px rgba(0,0,0,1); }
/*.image-display.mobile{ background-color: transparent; box-shadow: none; }*/
.image-display .spinner-border{ position: absolute; z-index: 99; }

/*textOverlay*/
.image-display{ display: flex; align-items: center; justify-content: center; }
.image-display .image{ margin: auto; overflow-x: hidden; }

.react-html5-camera-photo{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; padding-top: 0; padding-bottom: 40px; z-index: 9999; background-color: #222222; }
.react-html5-camera-photo video{ width: 100%; }
.image-display .close{ position: fixed; top: 20px; right: 20px; z-index: 99999; opacity: .5; -webkit-transition: opacity .3s ease-in;-moz-transition: opacity .3s ease-in;-ms-transition: opacity .3s ease-in;-o-transition: opacity .3s ease-in;transition: opacity .3s ease-in;}
.image-display .close:hover{ opacity: 1; }
.image-display .close span{ color: white; font-size: 60px; }

.image-display .progress-wrap {
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 99%;
  background: rgb(34,34,34);
  background: linear-gradient(0deg, rgba(34,34,34,0.8) 0%, rgba(34,34,34,0.7) 50%, rgba(34,34,34,0.1) 90%, rgba(34,34,34,0) 100%);
}

.image-display .progress-wrap p {
  text-align: center;
  margin: 0;
  text-transform: capitalize;
  color: white;
  padding: 20px 0 5px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.7);
}

.image-display .progress-wrap .progress {
  margin: 0;
  height: 5px;
}

.image-display .progress-wrap .progress .progress-bar {
  background-color: #55BFD1 !important;
}

@media only screen and (max-width: 812px) {
  .image-display{ height: 300px; }
  .dnd{ height: fit-content; }
}
